<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<header data-th-replace="replacements/header :: head(#{index.tabtitle})"/>

<body>

<nav data-th-replace="replacements/header :: navigation"/>

<div class="container-fluid">

    <div class="container-fluid">

        <div class="row" style="margin-top: 20px">
            <!--Placeholder, keep me !-->
        </div>


        <!-- ############################# ADMIN OPTIONS ################################## -->
        <div class="row">
            <div class="col-md-offset-2 col-md-8 ">

                <!-- ############################# REGISTRATION KEY ################################## -->

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">

                            <div class="col-md-offset-3 col-md-6 ">
                                <h3 class="text-center" data-th-text="#{admin.title}"/>
                            </div>

                        </div>
                    </div>

                    <!-- ################################## GENERATE REGISTRATION KEY #################################### -->
                    <ul class="list-group">
                        <li class="list-group-item">

                            <div class="panel-body">
                                <h3>
                                    <span data-th-text="#{admin.title.generateregistrationkey}"></span>
                                </h3>

                                <!-- ################## Submit  new Registration Key ########################-->
                                <form data-th-action="@{/admin/addregistrationkey}" th:object="${key}" method="post"
                                      accept-charset="utf-9">
                                    <h5>
                                        <label data-th-text="#{admin.title.role}"></label>
                                    </h5>

                                    <div class="form-group" >
                                        <div class="radio-inline">
                                            <label>
                                                <input type="radio" id="roleOption4" value="PUBLIC" th:field="${key.userRole}"
                                                       checked="checked"/>
                                                <label for="roleOption4" data-th-text="#{admin.role.public}" style="color: #737373">
                                                    Placeholder</label>
                                            </label>
                                        </div>
                                        <div class="radio-inline">
                                            <label>
                                                <input type="radio" id="roleOption2" value="READ" th:field="${key.userRole}"/>
                                                <label for="roleOption2" data-th-text="#{admin.role.read}" style="color: #737373">
                                                    Placeholder</label>
                                            </label>
                                        </div>
                                        <div class="radio-inline">
                                            <label>
                                                <input type="radio" id="roleOption3" value="EDIT" th:field="${key.userRole}"/>
                                                <label for="roleOption3" data-th-text="#{admin.role.edit}" style="color: #737373">
                                                    Placeholder</label>
                                            </label>
                                        </div>
                                        <div class="radio-inline">
                                            <label>
                                                <input type="radio" id="roleOption1" value="ADMIN" th:field="${key.userRole}"/>
                                                <label for="roleOption1" data-th-text="#{admin.role.admin}" style="color: #737373">
                                                    Placeholder</label>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-md-12" data-th-if="${error_role}">
                                        <div class="alert alert-danger" role="alert" style="margin-bottom: 22px; text-align: center">
                                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                            <span data-th-text="#{admin.error.roleoption}"></span>
                                        </div>
                                    </div>


                                    <div class="btn-group " style="display: inline-block;text-align:center;">
                                        <button class="btn btn-success" type="submit"
                                                data-th-text="#{admin.submit.newregistrationkey}"></button>

                                        <a href="#" role="button" class="btn btn-primary" data-th-href="@{/admin/usedkeys}"
                                           data-th-text="#{admin.button.allusedkeys}" style="margin-left: 10px"></a>

                                        <a href="#" role="button" class="btn btn-primary" data-th-href="@{/admin/unusedkeys}"
                                           data-th-text="#{admin.button.allunusedkeys}" style="margin-left: 10px"></a>

                                    </div>


                                </form>
                            </div>

                        </li>
                        <!-- ################################## SHOW GENERATED REGISTRATION KEY #################################### -->
                        <li class="list-group-item" data-th-if="${generatedKey} != null">
                            <div class="panel-body">

                                <ul class="list-group">
                                    <h3>
                                        <span data-th-text="#{admin.title.newregistrationkey}"></span>
                                    </h3>
                                    <li class="list-group-item">
                                        <h4>
                                            <span data-th-text="#{admin.role}"></span>
                                            <small
                                                    data-th-if="${generatedKey.getUserRole() == T(de.sigma.sigmabase.model.user.UserRole).PUBLIC}"
                                                    data-th-text="#{admin.role.public}"></small>
                                            <small data-th-if="${generatedKey.getUserRole() == T(de.sigma.sigmabase.model.user.UserRole).READ}"
                                                   data-th-text="#{admin.role.read}"></small>
                                            <small data-th-if="${generatedKey.getUserRole() == T(de.sigma.sigmabase.model.user.UserRole).EDIT}"
                                                   data-th-text="#{admin.role.edit}"></small>
                                            <small data-th-if="${generatedKey.getUserRole() == T(de.sigma.sigmabase.model.user.UserRole).ADMIN}"
                                                   data-th-text="#{admin.role.admin}"></small>
                                        </h4>
                                    </li>
                                    <li class="list-group-item">
                                        <h4>
                                            <span data-th-text="#{admin.title.key}"></span>
                                            <pre data-th-text="${generatedKey.getKey()}"></pre>
                                        </h4>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!-- ################################## ACTIVE USERS #################################### -->
                        <li class="list-group-item">
                            <div class="panel-body">
                                <h3>
                                    <span data-th-text="#{admin.title.activeusers}"></span>
                                </h3>

                                <h5>
                                    <label data-th-text="#{admin.title.allusers}"></label>
                                </h5>

                                <a href="#" role="button" class="btn btn-primary" data-th-href="@{/admin/users}"
                                   data-th-text="#{admin.button.activeusers}"></a>
                            </div>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>