<!DOCTYPE html>
<html>

<header data-th-replace="replacements/header :: head(#{index.tabtitle})"/>

<body>

<nav data-th-replace="replacements/header :: navigation"/>

<div class="container-fluid">

    <div class="row" style="margin-top: 10%">
        <!--Placeholder, keep me !-->
    </div>

    <div class="row">

        <div class="jumbotron col-md-offset-2 col-md-8">
            <h1 data-th-text="#{about.title}">Welcome !</h1>

            <p data-th-text="#{about.text}">Welcome !</p>

            <p><a class="btn btn-primary btn-lg" data-th-href="@{http://seblog.cs.uni-kassel.de}" data-th-text="#{about.se}">Sign up !</a>
            </p>
        </div>
    </div>
</div>

</body>

</html>